.main{
    margin-top:150px;
    text-align: center;
}
.image-logo{
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right:auto;
}
.search-input{
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right:auto;
    padding-top:10px ;
    padding-bottom: 10px;
    line-height: 24px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #5c5b5b;
    border-radius: 24px;
}
.btn
{
    margin-top: 10px;
    border: none;
    background: #f8f8f9;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 5px;
    font-size: 14px;
}